# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg
.venv/
venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Project specific
static/uploads/*
static/results/*
!static/uploads/.gitkeep
!static/results/.gitkeep

# YOLO
*.cache
runs/detect/*/weights/*.pt
!runs/detect/sanity_coco128/weights/best.pt
